<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.Testcase4_onlineServices"/>
      <class name="testcases.Testcase2_atmServices"/>
      <class name="testcases.Testcase1_login"/>
      <class name="testcases.Testcase3_latestNews"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
